body {
  height: 2000px;
}

.jumbotron,
#projects {
  background-color: white;
}

.jumbotron img {
  border: 5px solid #494848;
  border-radius: 50%;
  width: 200px;
}

#about,
#contact {
  background-color: #ff9d0b;
}

section {
  padding-top: 5rem;
}

#contact {
  padding-bottom: 5rem;
}
