@font-face {
  font-family: "Vintage Handmade";
  src: url("../font/Vintage Handmade.ttf") format("truetype");
}

body {
  overflow-x: hidden;
}

#jumbotron {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron .jumbotron {
  max-width: 100%;
  margin-bottom: 150px;
}

#jumbotron svg {
  position: absolute;
  bottom: 7%;
}

#jumbotron img {
  border-radius: 50%;
  width: 33%;
  box-shadow: 0px 0px 0px 4px #ac571f, 0px 0px 0px 7px #ffffff, 0px 0px 0px 15px #121111;
}

#about {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron,
#projects {
  background-color: #1d1a18;
}

#projects p {
  color: #e48d4f;
}

#projects .card-body {
  background-color: #110e0e;
}

#about,
#contact {
  background-color: white;
}

section {
  padding-top: 4rem;
}

#about {
  padding-bottom: 4rem;
}

footer {
  display: flex;
}

footer p {
  margin: auto;
}

.navbar-brand {
  margin-left: 10%;
  font-family: "Vintage Handmade";
  transform: scaleX(1.5);
  text-align: center;
  filter: drop-shadow(0 0 10px yellow);
}

.navbar .container-fluid {
  animation: navbar 1s ease forwards;
}

@keyframes navbar {
  0% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(3px);
  }
}
